@import url('https://fonts.googleapis.com/css2?family=Baloo+2&display=swap');

.about_page > h4{
    color: cyan
}
.personal__info  > p{
   color: white;
   font-family: 'baloo 2';
}

.mail_banner {
    background-color: burlywood;
    color: black;
}   
